* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 13%);
}

a {
  text-decoration: none;
}

.title {
  font-size: 50px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 80%);
}

.large {
  font-size: 40px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 80%);
}

.home-icon, .add-icon, .search-icon, .outbox-icon, .inbox-icon, .edit-icon, .duration-icon, .brightness-icon, .power-switch-icon, .next-icon, .rotate-icon {
  background-position: center;
  background-size: auto 70%;
  background-repeat: no-repeat;
}

button,
.button-base,
.task-links__item {
  background-color: hsl(0, 0%, 23%);
  border: none;
  opacity: 1;
  color: hsl(0, 0%, 39%);
  cursor: pointer;
}
button:hover,
.button-base:hover,
.task-links__item:hover {
  background-color: hsl(0, 0%, 27%);
}
button:disabled, button[disabled],
.button-base:disabled,
.task-links__item:disabled,
.button-base[disabled],
[disabled].task-links__item {
  background-color: hsl(0, 0%, 27%);
  opacity: 0.5;
}

.rotate-icon {
  background-image: url("/media/rotate-arrow.png");
}

.next-icon {
  background-size: auto 65%;
  background-image: url("/media/next.png");
}

.power-switch-icon {
  background-image: url("/media/power-btn.png");
}

.brightness-icon {
  background-image: url("/media/brightness.png");
}

.duration-icon {
  background-image: url("/media/duration.png");
}

.edit-icon {
  background-image: url("/media/edit.png");
}

.inbox-icon {
  background-image: url("/media/inbox.png");
}

.outbox-icon {
  background-image: url("/media/outbox.png");
}

.search-icon {
  background-image: url("/media/search.png");
}

.add-icon {
  background-image: url("/media/add.png");
}

.home-icon {
  background-image: url("/media/home.png");
}

input[type=month],
input[type=datetime-local],
input[type=text],
input[type=number] {
  display: block;
  outline: none;
  border: solid 2px hsl(0, 0%, 39%);
  background-color: transparent;
  color: hsl(0, 0%, 39%);
  padding: 4px 4px 4px 12px;
  border-radius: 10px;
  font-size: 18px;
}
input[type=month]:focus,
input[type=datetime-local]:focus,
input[type=text]:focus,
input[type=number]:focus {
  color: hsl(0, 0%, 80%);
  border-color: hsl(0, 0%, 80%);
}
input[type=month]::-webkit-inner-spin-button, input[type=month]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator,
input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-calendar-picker-indicator,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator {
  background-color: hsl(0, 0%, 39%);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
input[type=month]::-webkit-inner-spin-button:hover, input[type=month]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-inner-spin-button:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover,
input[type=text]::-webkit-inner-spin-button:hover,
input[type=text]::-webkit-calendar-picker-indicator:hover,
input[type=number]::-webkit-inner-spin-button:hover,
input[type=number]::-webkit-calendar-picker-indicator:hover {
  background-color: hsl(0, 0%, 80%);
}

input[type=text] {
  padding: 4px;
}

input[type=file] {
  display: none;
}

.container {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.item-list {
  padding: 0;
  list-style-type: none;
}

.lab-title {
  text-align: center;
  padding: 60px;
}

.task-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-links__item {
  font-size: 20px;
  border-radius: 10px;
  padding: 20px;
  color: hsl(0, 0%, 80%);
  font-weight: 300;
}

.shop-title {
  text-align: center;
  padding: 30px;
}

.product-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.product-section__toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  position: relative;
}
.product-section__toolbar .js-search-product {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: right;
}

.toolbar-actions {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.go-home-btn,
.js-create-product-btn,
.js-product-actions button {
  display: block;
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.go-home-btn:hover,
.js-create-product-btn:hover,
.js-product-actions button:hover {
  background-color: hsl(0, 0%, 80%);
  opacity: 1;
}

.go-home-btn {
  background-size: auto 50%;
}

.js-product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 7px;
}

@media screen and (max-width: 768px) {
  .product-cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;
  background-color: hsl(0, 0%, 27%);
  border-radius: 10px;
  cursor: pointer;
}
.product-card:hover {
  background-color: hsl(0, 0%, 23%);
}
.product-card__image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}
.product-card__price {
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 80%);
}
.product-card__name {
  font-size: 16px;
  font-weight: 300;
  color: hsl(0, 0%, 80%);
}

#js-product-modal-content {
  background-color: hsl(0, 0%, 23%);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  color: hsl(0, 0%, 80%);
}
#js-product-modal-content h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
}
#js-product-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#js-product-modal-content form label {
  font-size: 12px;
  font-weight: 300;
}
#js-product-modal-content form button[type=submit] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
  transition: background-color 0.3s;
  color: hsl(0, 0%, 80%);
  font-weight: 400;
  font-size: 18px;
}
#js-product-modal-content form button[type=submit]:hover {
  background-color: #45a049;
}

.select-image-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.select-image-container .file-upload-label {
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: hsl(0, 0%, 39%);
  font-size: 16px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}
.select-image-container .file-upload-label:hover {
  opacity: 0.8;
}
.select-image-container .preview-image {
  display: none;
  max-width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  #add-product-modal .modal-content {
    width: 90%;
  }
}
.js-total-price {
  position: relative;
  float: right;
  color: hsl(0, 0%, 39%);
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
